@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('asset/img/main_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.js-clock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: 1000;
  font-size: 100px;
  color: #f21e34;
  margin-right: 30px;
  margin-bottom: 30px;
  z-index: 10;
}
.js-title {
  margin: 0;
}

.js-weather {
  font-size: 30px;
  color: black;
}

.btn {
  cursor: pointer;
}
/* h1{
    color: white;
    transition: color .5s ease-in-out;
} */

/* do it 리스트 */
.js-toDoForm {
  position: fixed;
  top: 50%;
  display: flex;
  flex-direction: column;
}

.js-toDoInput {
  padding: 20px;
  font-size: 40px;
  font-weight: 1000;
  border: none;
  border-radius: 10px;
}

.js-toDoInput:focus {
  outline: none;
}

.js-toDoSubmit {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

.toDoSubmit:focus {
  outline: none;
}

.js-toDoSubmit:hover {
  /* text-decoration: underline; */
  outline: none;
  transform: scale(1.1);
  border: none;
}

.js-toDoSubmit:active {
  /* text-decoration: underline; */
  outline: none;
  transform: scale(1.2);
  border: none;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings,
.removeName {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-toDoList {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  height: 100%;
  width: 30%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(42, 15, 58, 0.3);
  overflow: auto;
}
.js-toDoList::-webkit-scrollbar {
  width: 30px;
  background-color: white;
}
.js-toDoList::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
.js-toDoList::-webkit-scrollbar-track {
  background-color: grey;
}

.js-toDoList > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  /* animation-duration: 1s;
  animation-name: slidein; */
  animation: slidein 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.js-toDoList > li > button {
  cursor: pointer;
  font-size: 50px;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.js-toDoList > li > button:focus {
  outline: none;
}

.js-toDoList > li > button:hover {
  /* text-decoration: underline; */
  outline: none;
  transform: scale(1.1);
  border: none;
}

.js-toDoList > li > button:active {
  /* text-decoration: underline; */
  outline: none;
  transform: scale(1.2);
  border: none;
}

.anim-doit {
  position: fixed;
  top: 0;
  height: 100%;
  display: flex;
  z-index: 10;
  visibility: hidden;
}
